version: '3'
services:
  nginx:
    image: nginx
    links:
      - app
    ports:
      - "80:80"
    volumes:
      - ./:/app
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  app:
    build: DockerImages/App
    volumes:
      - ./:/app
      - ~/.composer-docker/cache:/root/.composer/cache:delegated
    depends_on:
      - mysql

#  chatapp:
#    build: DockerImages/ChatApp
#    volumes:
#      - ./:/app
#      - ~/.composer-docker/cache:/root/.composer/cache:delegated
#    ports:
#      - "3000:8000"
#    depends_on:
#      - mysql


  mysql:
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: chatdb
      MYSQL_USER: chatdbuser
      MYSQL_PASSWORD: secret

  pphpmyadmin:
    depends_on:
      - mysql
    image: phpmyadmin/phpmyadmin
    restart: always
    ports:
      - '8001:8001'
    environment:
      PMA_HOST: mysql
      MYSQL_ROOT_PASSWORD: secret